body{
     height: 100vh;
     width: auto;
     background-color:  rgb(3, 14, 2);
     font-family: sans-serif;
     display: flex ;
     align-items: center;
     justify-content: center;
}

.game-container{
     background-repeat:no-repeat;
     background-size: cover;
     background-image: url("../../public/assets/witches_hut_night_3_by_anirhapsodist_dcfrp28-fullview.jpg");
     height: 90%;
     width: 80%;
     border-width: 1px;
     /* border-style: solid;
     border-color:  black; */
     display: flex;
     flex-direction: row;     
}
.items-menu-container{
     padding-left: 15px;
     display: flex;
     padding-top: 20px;
     padding-bottom: 20px;
     
     /* justify-content: flex-end; */
}

.items-menu{

     display: inline-grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-auto-rows: 1fr;
     grid-auto-columns: 1fr;
     /* padding-bottom: 1px; */
     /* grid-gap: 0.1px ; */
     /* padding-right: 267px; */
}

.recipe-book{
     /* padding-left: 300px; */
     display: inline-grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
     grid-auto-rows: 1fr;
     grid-auto-columns: 1fr;
  
}

.pot-container{
     /* align-items: center; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     /* bottom: 50 */
}
.pot{
     /* height: 200px;
     width:65px; */
     border: 2px, black;
     display: flex;
     flex-direction: column; 
     justify-content: center;
}

.pot img{
     height: 50px;
     width: 50px;

}
.hidden{
     display: none;
}


.image{
     height: 50px;
     width: 50px;
     padding-left: 15px;
}

.potion{
     height: 50px;
     width: 50px;
     padding: 10px;
}
p{
font-size: small;   
/* display: none;   */
}

