body{
     height: 100vh;
     width: auto;
     background-color:  rgb(3, 14, 2);
     font-family: sans-serif;
     display: flex ;
     align-items: center;
     justify-content: center;
}

/* <span>Photo by <a href="https://unsplash.com/@jjbart7?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Joshua Bartell</a> on <a href="/s/photos/wood-texture?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */

.game-container{
     box-sizing: border-box;
     background-image: url("../../public/assets/witches_hut_night_3_by_anirhapsodist_dcfrp28-fullview.jpg");
     background-repeat:no-repeat;
     background-size: cover;
     height: 700px;
     width: 1350px;
     border-width: 1px;
     display: flex;
     position: relative;
     
}
.items-menu-container{
     margin-top: 30px;
     box-sizing: border-box;
     height: 640px;
     width: 430px;
     display: flex;
     background-image: url("../../public/assets/iuliashelfback.png");
     background-repeat:no-repeat;
     background-size: contain;

}

.items-menu{
     margin-top: 45px ;
     margin-left: 30px ;
     margin-bottom: 15%;
     box-sizing: border-box;
     display: inline-grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     grid-auto-rows: 1fr;
     grid-auto-columns: 1fr;
     overflow-y: auto
}

.recipe-book-container{
     box-sizing: border-box;
     height: 700px;
     width: 337.5px;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-image: url("../../public/assets/iuliascroll2.png");
}

.recipe-book{
     border-top: 2px solid black;
     border-bottom: 2px solid black;
     margin-top: 87px;
     margin-left: 70px;
     /* margin-bottom: 30px; */
     box-sizing: border-box;
     height: 530px;
     width: 202px;
     background-repeat:no-repeat;
     background-size: contain;
     overflow-y: auto;
}

.pot-container{
     box-sizing: border-box;
     height: 700px;
     width: 540px;
     /* align-items: center; */
     display: flex;
     flex-direction: column;
     /* align-items: center; */
     /* bottom: 50 */
     justify-content: center;
}

.pot{
     box-sizing: border-box;
     margin-bottom: 150px;
     margin-left: 150px;
     height: 250px;
     width:65px;
     /* border: 2px solid black; */
     display: flex;
     flex-direction: column; 
     align-items: center;
}
.added{
     padding-bottom: 10px;
}

.pot img{
     height: 50px;
     width: 50px;

}
.hidden{
     display: none;
}


.image{
     height: 50px;
     width: 50px;
     padding-left: 10px;
     padding-right: 10px;
     border-bottom: 10px solid rgb(105, 83, 22);
}

.potion{
     height: 50px;
     width: 50px;
     padding: 10px;
     
}
.potion-container{
     margin-top: 20px; 
     box-sizing: border-box;
     border-bottom: 3px solid rgb(78, 54, 21);
}

p{
font-size: small;   
/* display: none;   */
}

.ingredients{
     box-sizing: border-box;
     margin-left: 15px;
     display: flex;
     flex-direction: row;
     align-items: space-between;
}

.ingredient{
     margin: 5px;
}
.submit-button{
     margin-left: 135px;
     width: 100px;
     font-size: medium;
     background-color: rgb(82, 255, 97);
     cursor: pointer;
     border-color: chartreuse;
}
.clear-button{
     margin-top: 35px;
     width: 100px;
     margin-left: 135px;
     font-size: medium;
     background-color: rgb(82, 255, 97);
     cursor: pointer;
     border-color: chartreuse;
}
.instr{
     position: absolute;
     height: 700px;
     width: 1350px;
     /* background-color: gray; */
     /* opacity: 0.5; */
     background-color: rgba(0, 0, 0, .7);
}
.in-button{
     margin-top: 10px;
     margin-left:650px;
     width: 100px;
}

.par{
     box-sizing: border-box;
     padding: 15px;
     background-color: rgb(0, 0, 0);
     color:rgb(255, 251, 251);
     margin-left:500px;
     margin-top:200px;
     width:400px;
     height: 200px;
     border: 3px solid rgb(78, 54, 21);
}


.err{
     position: absolute;
     height: 700px;
     width: 1350px;
     /* background-color: gray; */
     /* opacity: 0.5; */
     background-color: rgba(0, 0, 0, .7);
}
.a-button{
     margin-top: 10px;
     margin-left:650px;
     width: 100px;
}

.rem{
     box-sizing: border-box;
     padding: 15px;
     background-color: rgb(0, 0, 0);
     color:rgb(255, 251, 251);
     margin-left:500px;
     margin-top:200px;
     width:400px;
     height: 200px;
     border: 3px solid rgb(78, 54, 21);
}
